
.s-4 {
    background-color: #cf233d;
    height: 760px;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}


.s-4__container {
    position: relative;
    height: 550px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
}



.s-4__title {
    position: relative;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
    font-family: Oswald, sans-serif;
    color: white;
    margin: 100px 50px 0;
}

.s-4__text {
    width: 450px;
    font-size: 1rem;
    color: white;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
    margin-left: auto;
    margin: 20px 50px 0;
}

.s-4__read-more {
    font-weight: 700;
    border-bottom: 2px solid white;
    color: white !important;
    text-decoration: none;
    margin-bottom: 20px;

}

.s-4__image-container {
    position: relative;
}

.s-4__img-1 {
    position: absolute;
    margin-left: auto;
    margin-right: 0;
    height: 410px;
    width: 620px;
    top: -50px;
    object-fit: cover;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.35);
}

.s-4__img-2 {
    position: relative;
    height: 290px;
    width: 420px;
    top: 300px;
    left: 100px;

    object-fit: cover;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.35);
}
